.card{
    position: relative;
}
.card::before,
.card::after {
    content: "";
    position: absolute;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 0;
}
  
.card::before {
    width: 10rem;
    height: 10rem;
    top: -5.5rem;
    right: -2.5rem;
}
  
.card::after {
    width: 5rem;
    height: 5rem;
    top: -2.5rem;
    right: 5rem;
}
  